.imagen{
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: bottom;
}

.contorno{
    border: 2px solid #BFBFBF !important;
}

.contenedor_img{
    background-color: #eeeeee;
    padding: 7px !important;
}